body{
	background-color: plum;
}

nav{
  height: 6000px;
  width: 200px;
  float: left;
  padding: 5px;
  line-height: 30px;
}

p {
  margin-top: 100px;
}

footer{
  text-align: center;
  margin-right: 200px;
}


h1{
	color: royalblue;
	text-align: 25px;
}

h3{
	color: darkorchid;
	text-align: 35px;
}
